$include /etc/inputrc

# case insensitive filename completion
set completion-ignore-case on
# treat hyphens and underscores as equivalent
set completion-map-case on
set completion-prefix-display-length 3
# show completions on first tab
set show-all-if-ambiguous on
set show-all-if-unmodified on

set colored-stats on
# suffix each returned file completion with a character denoting its type
set visible-stats on
set mark-symlinked-directories on
set enable-bracketed-paste on

"\e[1;5C": forward-word     # Ctrl+right  => forward word
"\e[1;5D": backward-word    # Ctrl+left   => backward word
